/**
 * Admin.css — Styles for the Admin page.
 */

 /********************************
            Main Styles
********************************/
.admin-container {
    display: flex;
    justify-content: space-between;
}

.left-panel {
    margin-left: 1rem;
}

.right-panel {
    margin-right: 1rem;
    width: 50%;
}

.panel-separator {
    margin-right: 1rem;
}

p, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

/********************************
        Listing Card Styles
********************************/

.listing-group {
    display: flex;
    flex-wrap: wrap;
}

.listing-container {
    display: flex;
    flex-direction: column; 
    text-align: center;
    width: 15rem;
    font-size: 0.5rem;
    padding: 1rem;
}

.listing-container:hover {
    background-color: lightgrey;
    border-radius: 1rem;
    cursor: pointer;
}

.listing-image {
    border-radius: 1rem;
}

.listing-title {
    margin: 0.5rem 0 0.1rem 0;
    font-size: 0.8rem;
}

.listing-info {
    display: flex;
    justify-content: center;
    gap: 0.3rem;
    color: grey;
    font-size: 0.8rem;
}

/********************************
     Status Selection Styles
********************************/

.status-selection {
    padding: 0.5rem;
    border-radius: 0.3rem;
    font-weight: bold;
}

/********************************
     Listing Details Styles
********************************/

.listing-details-container {
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

.listing-details-close-button {
    width: 4rem;
    height: 4rem;
    margin-top: 1rem;
    background: rgba(211, 211, 211, 0.301);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
}

.listing-details-close-button:hover {
    background: rgba(175, 173, 173, 0.301);
}

.listing-images-container {
    display: flex;
    gap: 0.5rem;
}

.listing-details-image {
    width: 20rem;
}

.listing-details-image:hover {
    cursor: pointer;
    opacity: 70%;
}

.listing-details-title {
    margin-top: 1rem;
}

.listing-details-price {
    font-weight: bold;
    font-size: 1.5rem;
}

.listing-description-container {
    width: 40rem;
}

.listing-details-desc-heading {
    margin-bottom: 0.5rem;
}

.listing-amenities, .listing-location {
    margin: 0;
}

.listing-location {
    list-style: none;
    padding: 0;
}

.listing-amenities-heading, .listing-location-heading {
    margin: 0;
}

.approveButton, .rejectButton {
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

.approveButton {
    background-color: rgb(37, 206, 37);
}

.approveButton:hover {
    background-color: rgb(29, 184, 29);
}

.rejectButton {
    background-color: rgb(247, 42, 42);
}

.rejectButton:hover {
    background-color: rgb(223, 32, 32);
}

