/**
 * Search.css — Styles for the Search page.
 */


 .listing{
    padding: 1rem;
    border: 0.1rem;
    border-color: black;
    border-style: solid;
    border-radius: 2.5rem;
    margin-bottom: 1rem;
 }

 .listing-contents{
     display: flex;
    flex-flow: row wrap;
 }